@import './base.css';



html{
  max-width: 100%;
  height: auto;
  user-select:none;
  overflow: hidden;
  height: 100%;
}

body {
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  color: rgb(58, 58, 58);
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}


#app {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
  overflow: hidden;
}

.backTop{
  height: 100%;
  width: 100%;
  background-color: var(--el-bg-color-overlay);
  text-align: center;
  line-height: 45px;
  color: #f50000;
  background-color: rgba(0, 0, 0, 0);
}

.btnani {
  cursor: pointer;
  font-size: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.btnani:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #e46510d2;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.btnani:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

/* @media (max-width: 768px) {
  
}

@media (max-width: 375px) {
  .el-card__body{
    height: 60vh;
  }
  .rwd{
    display: flex;
    flex-direction: column;
  }
} */
